<div
  class="min-h-screen bg-gradient-to-r from-green-500 to-orange-600 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-3xl">
    <h1 class="text-4xl font-bold text-center text-white">
   memoria
    </h1>

    <div>
      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"
      >
        @for (card of cards; track card.id) {
        <div
          class="card aspect-square rounded-lg shadow-md cursor-pointer"
          [class.flipped]="card.isFlipped || card.isMatched"
          (click)="flipCard(card)"
        >
          <div class="card-inner">
            <div
              class="card-front bg-gradient-to-br from-red-400 to-blue-600 rounded-lg flex items-center justify-center"
            >
          
            </div>
            <div class="card-back rounded-lg overflow-hidden">
              <img
                [src]="card.imageUrl"
                alt="Imagen de carta"
                class="w-full h-full object-cover"
              />
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="text-center mb-8">
      <p class="text-xl font-semibold text-white mb-4">
        Intentos: {{ attempts }}
      </p>
      <button
        (click)="restartGame()"
        class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-6 rounded-full transition duration-300 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50"
      >
        Reiniciar Juego
      </button>
    </div>

    @if (isGameWon) {
    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
    >
      <div class="bg-white rounded-lg p-8 max-w-sm w-full text-center">
        <h2 class="text-3xl font-bold text-green-600 mb-4">excelente!</h2>
        <p class="text-xl mb-6">
          el juego ha finalizado con {{ attempts }} intentos.
        </p>
        <button
          (click)="restartGame()"
          class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-full transition duration-300 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
        >
          reiniciar 
        </button>
      </div>
    </div>
    }
  </div>
</div>
